.coin-info-card {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 225px;
    padding: 20px 3em;
    min-height: 200px;
    .title {
        display: flex;
        width: 100%;
        justify-content: space-between;
        height: 30px;
        h4 {
            font-weight: 400;
            font-family: Poppins, sans-serif;
        }
    }
    .price-info {
        width: 100%;
        height: 100%;
        margin-top: 60px;
        &__value {
            font-size: 15px;
            letter-spacing: 1px;
            h1 {
                font-weight: 400;
            }
            h1::before {
                content: attr(about);
                padding-right: 10px;
                color: grey;
                font-weight: 600;
            }
        }

        &__percentage {
            display: flex;
            flex-direction: row;
            letter-spacing: 1px;
            color: #1dd15a;
            h3 {
                font-weight: 500;
                &.up {
                    &::before {
                        content: "▲";
                        font-size: 20px;
                        padding-right: 2px;
                    }
                }
                &.down {
                    color: #ef5959;
                    &::before {
                        content: "▼";
                        font-size: 20px;
                        padding-right: 5px;
                    }
                }
            }
        }
    }
}

.coin-price {
    width: 48%;
    height: 100%;
    display: grid;
    grid-template-columns: 160px 1fr 1fr;
    grid-auto-rows: 70% 30%;
    &__icon {
        width: fit-content;
        height: 70%;
        padding: 30px;
        min-width: 40px;
        img {
            width: 60px;
            border-radius: 9999px;
        }
    }
    &__title {
        height: 70%;
        width: 100%;
        padding: 40px 20px 20px 0px;
        h3 {
            font-size: 25px;
            font-weight: 500;
        }
        &-price {
            display: flex;
            flex-direction: row;
            h2 {
                font-size: 55px;
                margin-top: 20px;
                font-weight: 500;
                width: fit-content;
            }
            .percentage {
                display: flex;
                flex-direction: row;
                letter-spacing: 1px;
                font-size: 16px;
                color: #1dd15a;
                span.up,
                span.down {
                    font-weight: 500;
                }
                span::before {
                    content: "▲";
                    font-size: 20px;
                    padding-right: 2px;
                }
                span.down {
                    color: #ef5959;
                    &::before {
                        content: "▼";
                        font-size: 20px;
                        padding-right: 5px;
                    }
                }
            }
        }
    }
    &__subtitle {
        font-weight: 500;
        font-size: 14px;
        padding-left: 5px;
    }
    &__tags {
        width: 100%;
        height: 100%;
        grid-row-start: 2;
        grid-column-start: 1;
        grid-column-end: 4;
        padding: 0 20px 0 20px;
        display: flex;
        flex-direction: column;
    }
    &__badges {
        display: flex;
        height: 75%;
        align-items: center;
        width: 100%;
        overflow-x: scroll;
        flex-direction: row;
        -webkit-touch-callout: none; /* iOS Safari */
        -webkit-user-select: none; /* Chrome/Safari/Opera */
        -khtml-user-select: none; /* Konqueror */
        -moz-user-select: none; /* Firefox */
        -ms-user-select: none;
        &::-webkit-scrollbar {
            width: 3px;
            height: 6px;
            &-thumb {
                background: gray;
                border-radius: 20px;
            }
        }
    }
}

.carousel-card {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
    padding-left: 40px;
    padding-top: 40px;
    &__title {
        width: 100%;
        img {
            width: 45px;
            height: 45px;
        }
        span {
            padding-left: 20%;
            font-weight: 300;
            font-size: 20px;
        }
    }
    a {
        text-decoration: none;
        color: inherit;
        &:hover {
            text-decoration: underline;
        }
        cursor: pointer;
    }
    .coin-info {
        height: max-content;
        margin-top: 50px;
        h4 {
            font-size: 16px;
            font-weight: 600;
        }
        p {
            padding-top: 5px;
            font-size: 14px;
            font-weight: 500;
            color: grey;
        }
    }
}
