.table {
  thead {
    background-color: #f1f1f1;
  }
  tbody {
    td.coin-name {
      display: flex;
      align-items: center;
      min-height: 60px;
      gap: 10px;
      img.coin-icon {
        width: 32px;
        height: 32px;
        margin-right: 10px;
        border-radius: 99999px;
      }
      span.coin-name__fullname {
        font-size: 16px;
        font-weight: 700;
      }
      span.coin-name__symbol {
        font-size: 16px;
        font-weight: 300;
      }
    }
  }
}
