* {
    padding: 0;
    margin: 0;
}

body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto",
        "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans",
        "Helvetica Neue", sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
        monospace;
}

.App {
    min-height: 100vh;
    height: 100%;
    display: flex;
    position: relative;
}

.wrapper {
    width: 100%;
    display: flex;
    justify-content: center;
    position: relative;
    padding: 0px 15px 0px 15px;
    overflow-x: hidden;
    .content {
        display: flex;
        width: 100%;
        flex-direction: column;
        max-width: 1400px;
        padding-top: 2.5vh;
        margin-bottom: 120px;
    }
}

.navbar-wrapper {
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 90px;
}
